:root {

}

.header-row{
    border-bottom: 3px solid black;
}

.link{
    font-size: 25px;
     transition: all 0.5s ease-in-out;
}

.link:hover{
    background-color: black;
    border-radius: 15px;
    color:white !important;
}

.add-task-btn{
    border-radius: 15px ;
    border: 3px solid black;
    font-size: 23px;
    transition: all 0.5s ease-in-out;
}
.add-task-btn:hover{
    background-color:black;
    color:white;
}

.task-col{
    background-color: grey;
}


.ui-widget-header,.ui-state-default {
    background-color: grey;
    border: 1px solid black;
    color: #FFFFFF;
    font-weight: bold;
 }
  .ui-dialog-titlebar-close{
     display:none;
 }  
 .close-modal-btn{
    display: inline;
    background-color: darkgrey;
    border: 3px solid black;
    border-radius: 10px;
    color:white;

 }
 .close-modal-btn:hover{
     color:black;
 }

 #taskTitle, #taskNotes, #taskDueDate, #add-checklist-btn{
     display:block;
 }
