:root {
    --color1: black;
    --color2: cornflowerblue;
}

.header-row{
    border-bottom: 3px solid black;
}

.link{
    font-size: 25px;
     transition: all 0.5s ease-in-out;
}

.link:hover{
    background-color: black;
    border-radius: 15px;
    color:white !important;
}

.add-task-btn, .task-categorization-btn, .theme-setup-btn, .reward-system-btn, .text-reminders-btn{
    border-radius: 15px ;
    border: 3px solid black;
    font-size: 23px;
    transition: all 0.5s ease-in-out;
}
.add-task-btn:hover, .task-categorization-btn:hover, .theme-setup-btn:hover, .reward-system-btn:hover, .text-reminders-btn:hover{
    background-color:black;
    color:white;
}

.task-col{
    background-color: grey;
}


.ui-widget-header,.ui-state-default {
    background-color: grey;
    border: 1px solid black;
    color: #FFFFFF;
    font-weight: bold;
 }
  .ui-dialog-titlebar-close{
     display:none;
 }  
 .close-modal-btn{
    display: inline;
    background-color: darkgrey;
    border: 3px solid black;
    border-radius: 10px;
    color:white;

 }
 .close-modal-btn:hover{
     color:black;
 }

 #taskTitle, #taskNotes, #taskDueDate, #add-checklist-btn{
     display:block;
 }

 .main-tasks{
     background-color: lightgray;
     border-radius: 15px;
     padding: 10px;
     margin: 10px;
 }

 #task-item-edit-btn, #task-item-delete-btn, .status-dd{
     transition: all 0.5s ease-in-out;
     border-radius: 10px;
     border: 3px solid black;
 }

 #task-item-edit-btn:hover, #task-item-delete-btn:hover, .status-dd:hover{
     background-color: black;
     color:white;
 }

 .theme-options{
     background-image: linear-gradient(black,purple,cornflowerblue);
     color: var(--color1);
 }

 .theme-opt{
     background-color: var(--color2);
 }

